name: Rust

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout source code
      uses: actions/checkout@v2
    - name: checkout submodule
      uses: textbook/git-checkout-submodule-action@master
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: clippy
      run: cargo clippy --verbose
